{% extends "bootstrap/base.html" %}

{% block title %}
    {% if title %}
        HiGuys - {{ title }}
    {% else %}
        Welcome to HiGuys
    {% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('core.index') }}">HiGuys</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ url_for('core.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('core.explore') }}">explore</a>
                </li>
            </ul>
            <div class="container">
                <ul class="navbar-nav justify-content-end">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white mr-2" role="button"
                           href="{{ url_for('core.user', username=current_user.username) }}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" role="button"
                           href="{{ url_for('auth.logout') }}">Sign Out</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-primary text-white mr-2" role="button"
                           href="{{ url_for('auth.login') }}">Sign In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-outline-secondary" role="button"
                           href="{{ url_for('auth.register') }}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav><br>
{% endblock %}


{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block app_content %}{% endblock %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
{% endblock %}